# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# PyInstaller
build/
dist/
# *.spec  # 保留 spec 文件，打包配置需要

# 数据库
*.db
*.sqlite
*.sqlite3

# 日志
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db

# 其他
.env
*.bak
licenses_*.txt